t/* General */

body
{
 
    background-color:#FFFFFF;
    color:#000000;
    width: 58em;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto; text-align:justify;
}

img
{
	border: 0px solid black;
}

a
{
    text-decoration: none;
    color: #800000;
}

a:hover
{
    text-decoration: underline;
}

/* Content */

#content
{
	
font-family: 'Esteban', serif;
    font-size: 16px;
    font-style: normal;
    background-color:#FFFFFF;
    margin-top:100px;
    color:#000000;
    width: 58em;
    margin-left:auto;
    margin-right:auto; 
    text-align:justify;
}

#content #header
{
	padding-bottom: 30px;
}

#content #header .nav
{
	font-size: 10px;
}

#content .title
{
 
    text-align: center;
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 0.6;
    color:#5D5050;
}

/* Section */

#content .section
{
	margin: 0px 0px 30px 0px;
}

#content .section .title
{

text-align: center;
font-family: 'Esteban', serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
text-transform: none;
text-decoration: none;
letter-spacing: 0em;
word-spacing: 0em;
line-height: 1.4;
display: none;

}

h2 {
  font-family: 'Gentium Book Basic', serif;
  display:none;
}

#content .section .body
{
}

#content .section .body p
{
	text-align: justify;
}

#content .section .footer
{
	font-size: 10px;
}

/* Sub-Section */

#content .section .body .section
{
	margin: 20px 0px 0px 10px;
}

#content .section .body .section .title
{
	
text-align: justify;
font-family: 'Esteban', serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
text-transform: none;
text-decoration: none;
letter-spacing: 0em;
word-spacing: 0em;
line-height: 1.4;
display: none;
}

#content .section .body .section .body
{
}

/* Sub-Sub-Section */

#content #section #body #section #body #section
{
	margin: 20px 0px 0px 10px;
}

#content .section .body .section .body .section .title
{

font-family: 'Esteban', serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
text-transform: none;
text-decoration: none;
letter-spacing: 0em;
word-spacing: 0em;
line-height: 1.4;
text-decoration: underline;
}

#content .section .body .section .body .section .title .body
{
}

/* Tables */

#content table.perty
{
	margin-top: 10px;
	margin-bottom: 10px;
	
	border: 1px dashed LightGray;
	border-collapse: collapse;
}

#content table.perty tr
{
	vertical-align: top;
}

#content table.perty td
{
	font-size: 13px;
}

#content table.perty thead tr
{
	border-bottom: 1px solid Black;
}

#content table.perty thead td
{
	font-weight: bold;
}

#content table.perty tbody tr
{
	border-bottom: 1px dotted LightGray;
}

#content table.perty tbody td
{
	padding: 5px;
}


    margin-top: 0px;
}

#tab-container { border: none; margin: 0 0 0 0; margin-left:auto; margin-right:auto; width:58em;}
#tab-container ul { list-style: none; background: #fff; text-align:center; font-family:  'Esteban', serif; font-size: 20px; margin-top: -20px; margin-bottom: -3px}
#tab-container ul li { width: 100px; display:inline;}
#tab-container ul li a { display: inline; padding: 5px 14px; outline: none; }
#tab-container ul li a:hover { text-decoration: underline; }
#tab-container ul li.selected-tab { background: #fff; position: relative;  border-style: solid; border-width: 0 0; }
#tab-container ul li:first-child.selected-tab { border-top: none; }
#tab-container ul li a.selected-tab { font-weight: none; text-decoration: underline; }
#tab-container .panel-container { }
#tab-container a.active { font-weight: bold; }
#tab-container .panel-container { background: #fff; border: solid #666 1px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}