body
{
    font-family: 'Esteban', serif;
    font-style: normal;
    background-color:#FFFFFF;
    color:#000000;
    width: 60em;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
}

body ul{margin:0 0 0 0;padding:0;list-style-type:circle}

header {
  margin: 40px 0;
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-shadow: none;
  color:#5D5050;
  list-style:none  
}

h2 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  color:#5D5050;
  list-style:none  
}

h3 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  color:#5D5050;
  list-style:none  
}


#outline-container-1 {
margin-left: 120px;
}
#outline-container-2 {
margin-left: 120px;
}
#outline-container-3 {
margin-left: 120px;
}


a:link {color:#800000; text-decoration: none;}
a:hover {color:#800000; text-decoration: underline;}
a:visited {color:#800000;text-decoration: none;}

#tab-container { border: none; margin: 0 0 0 0;}
#tab-container ul { list-style: none; background: #fff; border-right: none; text-align:center; font-family: 'Gentium Book Basic', serif; font-size: 25px; color:#808080; text-align:center;}
#tab-container ul li { width: 100px; margin-top: 0; padding: 0 0 0 0; display:inline}
#tab-container ul li a { display: inline; padding: 0 15px 0 0; outline: none; }
#tab-container ul li a:hover { text-decoration: underline; }
#tab-container ul li.selected-tab { background: #fff; position: relative; left: 70px; border-style: solid; border-width: 1px 0; }
#tab-container ul li:first-child.selected-tab { border-top: none; }
#tab-container ul li a.selected-tab { font-weight: bold; text-decoration: none; }
#tab-container .panel-container { padding-top: 0px; padding-left: 20px; }