body
{
    font-family: 'Esteban', serif;
    font-size: 16px;
    font-style: normal;
    background-color:#FFFFFF;
    margin-top:100px;
    color:#000000;
    width: 58em;
    margin-left:auto;
    margin-right:auto; 
    text-align:justify;
}

body ul{margin:0 0 0 0;padding:0;list-style-type:none}


h1 {
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 0.6;
  color:#5D5050;
}


h2 {
  font-family: 'Gentium Book Basic', serif;
  display:none;
}

h3 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color:#5D5050;
}


a:link {color:#800000; text-decoration: none;}
a:hover {color:#800000; text-decoration: underline;}
a:visited {color:#800000;text-decoration: none;}

#tab-container { border: none; margin: 0 0 0 0; margin-left:auto; margin-right:auto; width:58em;}
#tab-container ul { list-style: none; background: #fff; text-align:center; font-family:  'Esteban', serif; font-size: 20px; margin-top: -20px; margin-bottom: -3px}
#tab-container ul li { width: 100px; display:inline;}
#tab-container ul li a { display: inline; padding: 5px 14px; outline: none; }
#tab-container ul li a:hover { text-decoration: underline; }
#tab-container ul li.selected-tab { background: #fff; position: relative;  border-style: solid; border-width: 0 0; }
#tab-container ul li:first-child.selected-tab { border-top: none; }
#tab-container ul li a.selected-tab { font-weight: none; text-decoration: underline; }
#tab-container .panel-container { }
#tab-container a.active { font-weight: bold; }
#tab-container .panel-container { background: #fff; border: solid #666 1px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}